# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Build & cache
dist/
build/
.cache/
.next/
out/
coverage/
*.log

# Environment files
.env
.env.local
.env.development
.env.production

# OS / Editor files
.DS_Store
Thumbs.db

# Android build files
customer
customer/.gradle/
customer/build/
customer/local.properties
customer/.idea/
customer/.cxx/
delivery
delivery/.gradle/
delivery/build/
delivery/local.properties
delivery/.idea/
delivery/.cxx/

# Misc
*.lock
