# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Build & cache
dist/
build/
.cache/
.next/
out/
coverage/
*.log

# Environment files
.env
.env.local
.env.development
.env.production

# OS / Editor files
.DS_Store
Thumbs.db

# Android build files - Ignore entire customer and delivery folders
customer/
Customer/
delivery/
Delivery/

# VPS_IMAGE_FIX_GUIDE
VPS_IMAGE_FIX_GUIDE.md/
Food_Delivery_API.postman_collection.json/
# Misc
*.lock
